node_modules/
dist/
dist-ssr/
*.local

.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/tsconfig.json
!.vscode/jsconfig.json

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.local
.env.*.local
